.form-budget {
    background-color: #808080;
    border-radius: 10px;
    border: solid 1px #7FFF00;
    box-sizing: border-box;
    height: 60px;
    padding: 20px;
    width: 950px;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 5px;
    -webkit-box-shadow: 0px 10px 20px 5px #000000; 
    box-shadow: 0px 10px 20px 5px #000000;
    font-size: large;
}

.input-expenses {
    background-color: white;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 150px;
    font-family: 'Share Tech Mono', monospace;
    margin: 3px;
  }

  .input-expenses2 {
    background-color: white;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 12px;
    height: 100%;
    outline: 0;
    padding: 2px 10px 0;
    width: 100px;
    font-family: 'Share Tech Mono', monospace;
    margin: 1px;
  }

  .add-expenses{
    padding: .5px 20px;
    background-color: #7FFF00;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-family: 'Share Tech Mono', monospace;
}

.add-expenses:hover{
    padding: .5px 20px;
    transition: all 0.2s ease-out;
    background: black;
    color: white;
    transition: 250ms;
}