body{
    background-color: black;
}
.goals-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}
.form {
    background-color: rgb(64,64,64);
    border-radius: 10px;
    border: solid 1px #7FFF00;
    box-sizing: border-box;
    height: 400px;
    padding: 20px;
    width: 320px;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    -webkit-box-shadow: 0px 10px 20px 5px #000000; 
    box-shadow: 0px 10px 20px 5px #000000;
  }
  
  .input-container {
    height: 30px;
    position: relative;
    width: 100%;
  }

  .input {
    background-color: white;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    font-family: 'Share Tech Mono', monospace;
    margin: 3px;
  }

  .add-goal{
    padding: 8px 20px;
    background-color: #7FFF00;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: large;
    font-family: 'Share Tech Mono', monospace;
}

.add-goal:hover{
    padding: 8px 20px;
    transition: all 0.2s ease-out;
    background: black;
    color: white;
    transition: 250ms;
}

.added-goal{
  background-color: rgb(64,64,64);
    border-radius: 10px;
    border: solid 1px #7FFF00;
    box-sizing: border-box;
    height: 600px;
    padding: 20px;
    width: 1100px;
    margin: 10px;
    -webkit-box-shadow: 0px 10px 20px 5px #000000; 
    box-shadow: 0px 10px 20px 5px #000000;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.added-goals{
  background-color: #808080;
    border-radius: 10px;
    border: solid 1px black;
    box-sizing: border-box;
    height: 200px;
    padding: 20px;
    width: 900px;
    font-family: 'Share Tech Mono', monospace;
    margin: 10px;
    -webkit-box-shadow: 0px 10px 20px 5px #000000; 
    box-shadow: 0px 10px 20px 5px #000000;
}

.delete-goal{
  padding: .5px 10px;
  background-color: #7FFF00;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 10px;
}

.delete-goal:hover{
  padding: .5px 10px;
  transition: all 0.2s ease-out;
  background: black;
  color: white;
  transition: 250ms;
}

.goal-title{
  background-color: black;
  color: white;
  font-size: xx-large;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 10px;
  height: 40px;
}

.goal-total{
  background-color:#7FFF00 ;
  color: black;
  font-size: x-large;
  width: 400px;
  padding-left: 10px;
  height: 35px;
}

.my-goals{
  font-family: 'Share Tech Mono', monospace;
  font-size: xx-large;
  background-color: black;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
  width: 150px;
}

.goal-date{
  background-color: black;
  color: white;
  font-size: x-large;
  width: 400px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  height: 55px;
}